__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
.env
backend/.env
.venv/
venv/
env/
.idea/
.vscode/
.vs/
*-group_code/
.vs/
*-group_code/
node_modules/
dist/
build/
backend/media/*
!backend/media/.gitkeep
backend/staticfiles/
